@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

html,
body {
    margin: 0;
    min-height: 100%;
    color: #25465A;
}

body {
  font-family: Baskerville, Garamond, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  background: url('/static/imgs/background.jpg') 50% 100% repeat-x;
  background-size: 1280px 200px;
  font-size: 2em;
}

body a {
    color: #25465A;
}

.logo {
  background: url('/static/imgs/logo.png') 50% 0% no-repeat;
  height: 200px;
  background-size: 200px auto;
  margin-top: 1.5em;
  margin-bottom: 2em;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Baskerville, Garamond, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.cheidi .content {
  text-align: center;
  margin: 2em 0 4em 0;
  padding-bottom: 2em;
  line-height: 1.4em;
  font-size: 0.9em;

}

.cheidi .home {
  font-style: italic
}

.cheidi .content p {
  margin-bottom: 1.2em;
}

.cheidi .content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.cheidi .content h1 .smaller {
  font-size: 40px;
}
.cheidi .content .lead {
  font-size: 25px;
}

.grams {
  float: left;
  margin-bottom: 1em;
  box-shadow: 10px 10px 5px #888888;
  max-width: 640px;
}

.caption {
    padding: 1em;
    font-size: 2em;
    max-width: 640px;
    background: #eee;
    word-break: break-all;
    margin-bottom: 0;
}

#menu {
    text-align: center;
    font-size: 1.1em;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
    margin-right: 2em;
}

#menu .selected {
    color: #6D6D6D;
}

#menu.fixed {
    position:fixed;
    top:0;
    background: #fff;
    width: 100%;
    float: none;
    right: 0;
    border-bottom: 1px solid #eee;
    margin-top: 0;
    padding-top: 1em;
}


.cheidi .links {
  float: right;
  right: 0;
  margin-top: 125px;
}
.cheidi .links ul {
  display: block;
  padding: 0;
  margin: 0;
}
.cheidi .links ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.cheidi .links ul li:first-child {
  margin-left: 0;
}
.cheidi .links ul li:last-child {
  margin-right: 0;
}
.cheidi .links ul li.current-version {
  color: #f2b7bd;
  font-weight: 400;
}

.cheidi .links ul li a:hover {
  text-decoration: underline;
}
.cheidi .links ul li .icon-muted {
  color: #eb8b95;
  margin-right: 5px;
}
.cheidi .copyright {
  margin-top: 10px;
  font-size: 0.9em;
  color: #f2b7bd;
  text-transform: lowercase;
  float: right;
  right: 0;
}

#barn .content iframe {
    max-width: 800px;
}

img {
    width: 100%;
}

.cheidi .container a {
    border-bottom: 1px dotted #eee;
}

.cheidi .container a:hover {
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

@media (max-width: 1199px) {
  .cheidi .content h1 {
    font-size: 45px;
  }
  .cheidi .content h1 .smaller {
    font-size: 30px;
  }
  .cheidi .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .logo {
      height: 150px;
      background-size: 150px auto;
  }
}
@media (max-width: 600px) {
  .logo {
      height: 100px;
      background-size: 100px auto;
  }
  .cheidi .content  {
    margin-bottom: 100px;
  }

  ul, p {
    width: 88%;
  }

}
